<?php

declare(strict_types=1);

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
    ->exclude('vendor');

$rules = [
    '@PSR2' => true,
    'no_unused_imports' => true,
    'ordered_imports' => true,
    'trailing_comma_in_multiline_array' => true,
];

return PhpCsFixer\Config::create()
    ->setFinder($finder)
    ->setRules($rules);
